@model DiChoSaiGon.Models.TinDang

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <link href="summernote.css" rel="stylesheet">
    <script src="summernote.min.js"></script>

    <!-- include summernote-ko-KR -->
    <script src="lang/summernote-ko-KR.js"></script>
}

<form asp-controller="AdminTinDangs" asp-action="Edit" asp-route-id="@Model.PostId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostId" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="CreatedDate" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">


            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu thay đổi</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productPrice">Tiêu đề </label>
                            <input type="text" class="form-control" asp-for="Title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productBrand">Ảnh</label>
                            <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb" />
                            <span asp-validation-for="Thumb" class="text-danger"></span>
                        </div>



                    </div>
                    <div class="m-t-25">
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                <input type="checkbox" asp-for="Published" >
                                <label for="Published"></label>
                            </div>
                            <label>Public </label>
                        </div>


                    </div>
                    <div class="m-t-25">
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                <input type="checkbox" asp-for="IsNewfeed" >
                                <label for="IsNewfeed"></label>
                            </div>
                            <label>IsNewfeed </label>
                        </div>


                    </div>
                    <div class="m-t-25">
                        <div class="form-group d-flex align-items-center">
                            <div class="switch m-r-10">
                                <input type="checkbox" asp-for="IsHot" >
                                <label for="IsHot"></label>
                            </div>
                            <label>IsHot </label>
                        </div>


                    </div>




                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">


            <div class="row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="productCategory">MetaDesc</label>
                    <input type="text" class="form-control" asp-for="MetaDesc" />
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="productBrand">MetaKey</label>
                    <input type="text" class="form-control" asp-for="MetaKey" />

                </div>

            </div>




        </div>

        <div class="tab-pane fade" id="product-edit-description">

            <textarea asp-for="Contents" id="summernote"></textarea>
            <script>
                $('#summernote').summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true                  // set focus to editable area after initializing summernote
                });
            </script>


        </div>
    </div>
</form>




